.heading {
    font-size: 32;
}

body {
    background-color: lightblue;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: lightblue;
    padding: 10px;
  }
  
.grid-container > div {
    background-color: lightblue;
    text-align: center;
}

.buttons {
    font-size: 32;
}
