.welcome {
    text-align: center;
    font-size: 96;
}

.enter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    font-size: 96;
    text-align: center;
}

body {
    background-color: lightblue;
}

head {
    background-color: lightblue;
}
