<html>
    <head>
        <link rel="stylesheet" type="text/css" href="store1.css">
        <title>Generic Store</title>
        <div class=headingcontainer>
            <div>
                <a href="store1.html" target="_self">
                    Home
                </a>
            </div>
            <div>
                <a href="shoppingcart.html" target="_self">
                    Shopping Cart
                </a>
            </div>
            <div>
                <a href="support.html" target="_self">
                        Support
                </a>
            </div>
        </div>
    </head>
    <body>
    </body>
    <footer>
        <p class=madeby>
            Template by Falc8n
        </p>
    </footer>
</html>